@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>Levepo</h2>

<img src="/images/levepo.png" width="200" />
<br/>
<br />
<p>Levepo is a fictive company that is used to demonstrate the functionality in the Nexus GO</p>
