@page
@model SigningPortalDemo.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Levepo firewood</h2>
Levepo offers high quality chopped firewood
<br/>
<br />
<img src="/images/levepo.png" width="200" />
<br />
<br />
To start ordering firewood you need to sign up as a <a asp-page="/NewCustomer">new&nbsp;customer</a>

