@page
@model SigningPortalDemo.Pages.NewCustomerModel
@{
    ViewData["Title"] = "NewCustomer";
}
@{var authMethods = new List<SelectListItem>
{
    new SelectListItem { Text = "Personal Mobile", Value="PM" },
    new SelectListItem { Text = "Swedish BankID", Value="SE_BANKID" }
};
}

@if (Model.ErrorResponse != null)
{
    <h2>Error!</h2>
    <h3>@Model.ErrorResponse.ErrorCode</h3>
    @Model.ErrorResponse.ErrorMessage
}
else if (Model.RequestId != null)
{
    <h2>Customer Terms and Conditions created!</h2>
    <p>Please login to Nexus GO singning portal and sign request @Model.RequestId</p>

}
else
{
    <h2>Sign up as a new customer</h2>
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="NewCustomer.Name" class="control-label"></label>
                    <input asp-for="NewCustomer.Name" type="text" class="form-control" />
                    <span asp-validation-for="NewCustomer.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewCustomer.Email" class="control-label"></label>
                    <input asp-for="NewCustomer.Email" type="text" class="form-control" />
                    <span asp-validation-for="NewCustomer.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewCustomer.AuthenticationMethod" class="control-label"></label>
                    @Html.DropDownListFor(model => model.NewCustomer.AuthenticationMethod, authMethods, new { @class = "form-control" })
                </div>
                <input type="submit" value="Sign Up" class="btn btn-default" />
            </form>
        </div>
    </div>
}
